.text {
    position: relative;
    font-size: 12px;
    color: black;
    width: 1000px; /* Could be anything you like. */
}
.text-concat {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 8.4em; /* (Number of lines you want visible) * (line-height) prev: 3.6em*/
    line-height: 1.2em;
    text-align:justify;
}

.text.ellipsis::after {
    content: "";
    position: absolute;
    right: -10px;  /*-12px*/
    bottom: 4px;
}